
<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content %>
</p>

<p>
  <%= @message.url %>
</p>
<p>
  <%= @message.created_at %>
</p>
<p>
  <%= @message.updated_at %>
</p>

<hr/>
<a href="/messages/author">All by Author</a>
<hr/>
<a href="/messages">Back to All Messages</a>