<div class="jumbotron">
  <h1>Welcome to the Music Wall</h1>
  <p>An online music community</p>
  <p><a class="btn btn-primary btn-lg" href="/songs/new" role="button">Post a song</a></p>
  <a href="/signup">Sign Up Here</a>
</div>
<form method="post" action="/login" class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.title %></a></h3>
    <h5>by: <%= song.artist %></h5>
    <p>
      <a href="<%= song.url %>"><%= song.url %></a>
    </p>
  </div>
<% end %>